[project]
	description = library management
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/radyangkor
[access "refs/for/refs/*"]
	read = group user/radyangkor
	push = group user/radyangkor
	label-Code-Review = -2..+2 group user/radyangkor
	label-Verified = -1..+1 group user/radyangkor
	rebase = group user/radyangkor
	removeReviewer = group user/radyangkor
	submit = group user/radyangkor
[access "refs/heads/*"]
	read = group user/radyangkor
	create = group user/radyangkor
	push = +force group user/radyangkor
	pushMerge = group user/radyangkor
[access "refs/tags/*"]
	push = +force group user/radyangkor
	pushTag = group user/radyangkor
	pushSignedTag = group user/radyangkor
